<!-- update_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Your Profile</h1>
    <form id="updateProfileForm" action="{{ url_for('crud_routes.update_user') }}" method="POST">
        <label for="newUsername">New Username:</label><br>
        <input type="text" id="newUsername" name="newUsername"><br><br>
        <label for="newEmail">New Email:</label><br>
        <input type="email" id="newEmail" name="newEmail"><br><br>
        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword"><br><br>
        <input type="submit" value="Apply">
    </form>
</body>
</html>


